<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja medyczna</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <h1>Strona główna aplikacji</h1>
    <p th:text="${message}"></p>

    <div class="row">
        <a href="/index/login">Zaloguj się</a>
    </div>
</div>

</body>
</html>