<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja medyczna</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <!--<link type="text/css" href="css/bootstrap.css" rel="stylesheet"/>-->

    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-warning text-center">
                Formularz osobowy
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <form role="form" th:action="@{/user/addRecord}" th:object="${record}" th:method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nazwa parametru" autofocus="autofocus" th:field="*{parameter}"/>
                    <p th:if="${#fields.hasErrors('parameter')}" th:errors="*{parameter}" class="alert alert-danger"/>
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Wartość parametru" autofocus="autofocus" th:field="*{value}"/>
                    <p th:if="${#fields.hasErrors('value')}" th:errors="*{value}" class="alert alert-danger"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Jednostka" autofocus="autofocus" th:field="*{unit}"/>
                    <p th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}" class="alert alert-danger"/>
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Norma" autofocus="autofocus" th:field="*{norm}"/>
                    <p th:if="${#fields.hasErrors('norm')}" th:errors="*{norm}" class="alert alert-danger"/>
                </div>

                <div class="form-group">
                    <input type="date" class="form-control" placeholder="Data" autofocus="autofocus" th:field="*{date}"/>
                    <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="alert alert-danger"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Godzina" autofocus="autofocus" th:field="*{time}"/>
                    <p th:if="${#fields.hasErrors('time')}" th:errors="*{time}" class="alert alert-danger"/>
                </div>


                <button type="submit" class="btn btn-primary">
                    Dodaj
                </button>
            </form>
        </div>
        <div class="col-md-4">
        <a href="/user/homepage">Powrót</a>
    </div>
    </div>


</div>

</body>
</html>