<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja medyczna</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage.css}"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">

    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</head>
<body>
<nav class="navbar navbar-global navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Aplikacja do zarządzania danymi medycznymi</a>
        </div>
        <div id="navbar" class="navbar-brand">
            <ul class="nav navbar-nav navbar-user navbar-right">
                <li>
                    <a href="#">
                        <span class="fas fa-user-circle"></span>
                        <span th:text="${user}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar-primary">
    <ul class="navbar-primary-menu">
        <li>
            <a href="#"><span class="fas fa-lock-open"></span><span class="nav-label">Aktywacja kont</span></a>
            <a href="#"><span class="fas fa-exclamation-circle"></span><span class="nav-label">Zgłoszone błędy</span></a>
            <a href="#"><span class="fas fa-file-alt"></span><span class="nav-label">Statystyki</span></a>
            <a href="#">
                <form action="#" th:action="@{/logout}" method="post" class="logout-form">
                    <span class="fas fa-sign-out-alt"></span>
                    <input type="submit" value="Wyloguj" class="nav-label input-button"/>
                </form>
            </a>

        </li>
    </ul>
</nav>
<div class="main-content">
    <h1> MediRecords </h1>
    <p>Strona główna aplikacji do zarządzania danymi medycznymi wykonanej w ramach pracy magisterskiej</p>
</div>


</body>
</html>