<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja medyczna</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <!--<link type="text/css" href="css/bootstrap.css" rel="stylesheet"/>-->

    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-warning text-center">
                Moje wyniki
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>LP</th>
                    <th>Parametr</th>
                    <th>Wartość</th>
                    <th>Jednostka</th>
                    <th>Norma</th>
                    <th>Data</th>
                    <th>Godzina</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="record,iterationStatus  : ${records}">
                    <td th:text="${iterationStatus.count}">1</td>
                    <td th:text="${record.parameter}">001</td>
                    <td th:text="${record.value}">Name</td>
                    <td th:text="${record.unit}">Name</td>
                    <td th:text="${record.norm}">Name</td>
                    <td th:text="${record.date}">Name</td>
                    <td th:text="${record.time}">Name</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <a href="/user/homepage">Powrót</a>
    </div>
</div>

</div>

</body>
</html>