<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja medyczna</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">

    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</head>
<body>
<nav class="navbar navbar-global navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Aplikacja do zarządzania danymi medycznymi</a>
        </div>
        <div id="navbar" class="navbar-brand">
            <ul class="nav navbar-nav navbar-user navbar-right">
                <li>
                    <a href="#">
                        <span class="fas fa-user-circle"></span>
                        <span th:text="${message}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar-primary">
    <ul class="navbar-primary-menu">
        <li>
            <a href="/index/"><span class="fas fa-home"></span><span class="nav-label">Strona główna</span></a>
            <a href="#" class="navbar-active"><span class="fas fa-sign-in-alt"></span><span class="nav-label">Zaloguj</span></a>
            <a href="/index/registration"><span class="fas fa-user-circle"></span><span class="nav-label">Zarejestruj</span></a>
            <a href="/index/doctorRegistration"><span class="fas fa-briefcase-medical"></span><span class="nav-label">Dołącz jako lekarz</span></a>
        </li>
    </ul>
</nav>
<div class="main-content">
    <div class="container login-container">
        <div class="row">
            <div class="login-form button-panel">
                <h3>Strona logowania do aplikacji</h3>

                <div th:if="${loginerror}" class="alert alert-danger" role="alert">Nieprawidłowe dane logowania</div>

                <form th:action="@{/index/login}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Login" value="" id="username" name="username" autofocus="autofocus"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Hasło" value="" id="password" name="password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Zaloguj" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>