<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja medyczna</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homepage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">

    <script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</head>
<body>
<nav class="navbar navbar-global navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Aplikacja do zarządzania danymi medycznymi</a>
        </div>
        <div id="navbar" class="navbar-brand">
            <ul class="nav navbar-nav navbar-user navbar-right">
                <li>
                    <a href="/user/patientAccount">
                        <span class="fas fa-user-circle"></span>
                        <span th:text="${user}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar-primary">
    <ul class="navbar-primary-menu">
        <li>
            <a href="/user/allBloodResults"><span class="fas fa-book-medical"></span><span class="nav-label">Moje wyniki</span></a>
            <a href="/user/allMedicines"><span class="fas fa-capsules"></span><span class="nav-label">Moje leki</span></a>
            <a href="/user/allVisits"><span class="fas fa-calendar-alt"></span><span class="nav-label">Wizyty lekarskie</span></a>
            <a href="/user/allConsultation"><span class="fas fa-laptop-medical"></span><span class="nav-label">Telekonsultacja</span></a>
            <a href="/user/addBug"><span class="fas fa-exclamation-circle"></span><span class="nav-label">Zgłoś błąd</span></a>
            <a href="#">
                <form action="#" th:action="@{/logout}" method="post" class="logout-form">
                    <span class="fas fa-sign-out-alt"></span>
                    <input type="submit" value="Wyloguj" class="nav-label input-button"/>
                </form>
            </a>

        </li>
    </ul>
</nav>
<div class="main-content">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <!--<form th:action="@{/user/patientAccountAdd}" th:object="${patient}" th:method="post">-->
                <form th:action="@{/user/patientAccountAdd}" th:object="${patient}" th:method="put">
                    <div class="form-group">
                        <label>Imię</label>
                        <input type="text" class="form-control" autofocus="autofocus" th:field="*{name}"/>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"/>
                    </div>

                    <div class="form-group">
                        <label>Nazwisko</label>
                        <input type="text" class="form-control" autofocus="autofocus" th:field="*{secondName}"/>
                        <p th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}" class="alert alert-danger"/>
                    </div>

                    <div class="form-group">
                        <label>Adres</label>
                        <input type="text" class="form-control" autofocus="autofocus" th:field="*{address}"/>
                        <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="alert alert-danger"/>
                    </div>

                    <div class="form-group">
                        <label>Wiek</label>
                        <input type="number" class="form-control" autofocus="autofocus" th:field="*{age}"/>
                        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="alert alert-danger"/>
                    </div>

                    <div class="form-group">
                        <label>Wzrost [cm]</label>
                        <input type="number" class="form-control"autofocus="autofocus" th:field="*{height}"/>
                        <p th:if="${#fields.hasErrors('height')}" th:errors="*{height}" class="alert alert-danger"/>
                    </div>

                    <div class="form-group">
                        <label>Waga [kg]</label>
                        <input type="number" class="form-control" autofocus="autofocus" th:field="*{weight}"/>
                        <p th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" class="alert alert-danger"/>
                    </div>

                    <div class="form-group">
                        <label>Grupa krwi</label>
                        <input type="text" class="form-control" autofocus="autofocus" th:field="*{bloodType}"/>
                        <p th:if="${#fields.hasErrors('bloodType')}" th:errors="*{bloodType}" class="alert alert-danger"/>
                    </div>


                    <button type="submit" class="btn btn-primary">
                        Dodaj
                    </button>

                    <button class="btn">
                        <a href="/user/homepage">Powrót</a>
                    </button>

                </form>

            </div>

        </div>


    </div>

</div>

</body>
</html>